{{define "title"}}Notes{{end}}
{{define "scripts"}}{{end}}
{{define "styles"}}{{end}}

{{template "header"}}

{{define "content"}}

<div class="ui stackable grid">
	<div class="doubling two column row">
		<div class="column">
			<h1 class="ui header">
				<i class="yellow star icon"></i>
				<div class="content">
					Starred notes
					<div class="sub header">Notes that you have starred</div>
				</div>
			</h1>

			{{if .Starred}}
				{{range .Starred}}
				<a class="ui fluid link yellow card" href="/notes/{{.ID}}">
					<div class="ui padded grid">
						<div class="eleven wide computer eleven wide tablet sixteen wide mobile column">
							<h3 class="ui header">
								<div class="content">
									{{.Title}}
									<div class="sub header">by {{.Author}}</div>
								</div>
							</h3>
						</div>
						<div class="five wide computer five wide tablet sixteen wide mobile middle aligned right aligned column grey-text">
							{{.NumStars}} <i class="yellow star icon"></i>
						</div>
					</div>
				</a>
				{{end}}
			{{else}}
				<div class="ui disabled header">
					You haven't starred any notes yet!
				</div>
			{{end}}
		</div>

		<div class="column">
			<h1 class="ui header">
				<i class="sticky note outline icon"></i>
				<div class="content">
					Your notes
					<div class="sub header">Notes that you have uploaded</div>
				</div>
			</h1>

			{{if .Uploaded}}
				{{range .Uploaded}}
				<a class="ui fluid link {{if .HasStarred}}yellow {{end}}card" href="/notes/{{.ID}}">
					<div class="ui padded grid">
						<div class="eleven wide computer eleven wide tablet sixteen wide mobile column">
							<h3 class="ui header">
								<div class="content">
									{{.Title}}
									<div class="sub header">by {{.Author}}</div>
								</div>
							</h3>
						</div>
						<div class="five wide computer five wide tablet sixteen wide mobile middle aligned right aligned column grey-text">
							{{.NumStars}} <i class="{{if .HasStarred}}yellow{{else}}grey{{end}} star icon"></i>
						</div>
					</div>
				</a>
				{{end}}
			{{else}}
				<div class="ui disabled header">
					You haven't uploaded any notes yet!
				</div>
			{{end}}

			<a class="ui fluid link blue card" href="/upload/note">
				<div class="ui padded grid">
					<div class="sixteen wide column">
						<h3 class="ui blue header">
							<i class="upload icon"></i>
							<div class="content">
								Upload your notes
								<div class="sub header">Sharing your notes benefits everyone</div>
							</div>
						</h3>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>


{{end}}

{{template "base" .}}
