{{define "title"}}Practice Papers{{end}}
{{define "scripts"}}{{end}}
{{define "styles"}}{{end}}

{{template "header"}}

{{define "content"}}

<div class="ui grid">
	{{if .Deleted}}
	<div class="one column row">
		<div class="column">
			<div class="ui icon info message">
				<i class="trash icon"></i>
				<div class="content">
					<div class="header">Your practice paper has been deleted</div>
				</div>
			</div>
		</div>
	</div>
	{{end}}
	<div class="one column row">
		<div class="column">
			<h1 class="ui header">
				<i class="file text outline icon"></i>
				<div class="content">
					Your uploaded practice papers
					<div class="sub header">Practice papers that you have uploaded</div>
				</div>
			</h1>

			{{if .Uploaded}}
				{{range .Uploaded}}
				<a class="ui fluid link {{if .HasCompleted}}green {{end}}card" href="/papers/{{.ID}}">
					<div class="ui padded grid">
						<div class="eleven wide computer eleven wide tablet sixteen wide mobile column">
							<h3 class="ui header">
								<div class="content">
									{{.Year}} {{.SubjectName}} {{.Title}}
									<div class="sub header">from {{.Author}}</div>
								</div>
							</h3>
						</div>
						<div class="five wide computer five wide tablet sixteen wide mobile middle aligned right aligned column grey-text">
							{{if .HasCompleted}}<i class="green large checkmark icon"></i>{{end}}
						</div>
					</div>
				</a>
				{{end}}
			{{else}}
				<div class="ui disabled header">
					You haven't uploaded any papers yet!
				</div>
			{{end}}

			<a class="ui fluid link blue card" href="/upload/paper">
				<div class="ui padded grid">
					<div class="sixteen wide column">
						<h3 class="ui blue header">
							<i class="upload icon"></i>
							<div class="content">
								Upload a practice paper
								<div class="sub header">Make it easier for your peers to find practice papers</div>
							</div>
						</h3>
					</div>
				</div>
			</a>
		</div>
	</div>

	<div class="one column row">
		<div class="column">
			<h1 class="ui header">
				<i class="green checkmark icon"></i>
				<div class="content">
					Completed practice papers
					<div class="sub header">Practice papers you have completed</div>
				</div>
			</h1>

			{{if .Completed}}
				{{range .Completed}}
				<a class="ui fluid link green card" href="/papers/{{.ID}}">
					<div class="ui padded grid">
						<div class="eleven wide computer eleven wide tablet sixteen wide mobile column">
							<h3 class="ui header">
								<div class="content">
									{{.Year}} {{.SubjectName}} {{.Title}}
									<div class="sub header">from {{.Author}}</div>
								</div>
							</h3>
						</div>
						<div class="five wide computer five wide tablet sixteen wide mobile middle aligned right aligned column grey-text">
							<i class="green large checkmark icon"></i>
						</div>
					</div>
				</a>
				{{end}}
			{{else}}
				<div class="ui disabled header">
					You haven't completed any papers yet!
				</div>
			{{end}}
		</div>
	</div>
</div>


{{end}}

{{template "base" .}}
