{{define "title"}}Upload a practice paper{{end}}
{{define "scripts"}}
<script type="text/javascript" src="/static/upload/common.js"></script>
<script type="text/javascript" src="/static/upload/paper.js"></script>
{{end}}
{{define "styles"}}
<link href="/static/upload/style.css" type="text/css" rel="stylesheet">
{{end}}

{{template "header"}}

{{define "content"}}

<div class="ui grid">
	<div class="one column row">
		<div class="column">
			<h1 class="ui header">
				<i class="upload icon"></i>
				<div class="content">
					Upload a practice paper
				</div>
			</h1>

			<form class="ui big form">
				{{if .Update}}
				<div class="ui mini info message">
					<div class="header">Modifying submission</div>
					You're modifying the submission of an existing upload
				</div>
				{{end}}

				<div class="ui mini info message">
					<div class="header">All uploads must be valid PDFs</div>
				</div>

				<div class="fields">
					<div class="eleven wide field">
						<label>Title</label>
						<input type="text" name="title" placeholder="Exclude the author, subject and year" autocomplete="off" value="{{.Paper.Title}}">
					</div>
					<div class="five wide field">
						<label>Year</label>
						<input type="text" name="year" placeholder="Year published" autocomplete="off" value="{{if .Paper.Year}}{{.Paper.Year}}{{end}}">
					</div>
				</div>
				<div class="two fields">
					<div class="field">
						<label>Author</label>
						<input type="text" name="author" placeholder="Typically an organisation or school" value="{{.Paper.Author}}">
					</div>
					<div class="field">
						<label>Subject</label>
						<div class="ui selection dropdown">
							<input type="hidden" name="subject" value="{{if .Paper.Subject}}{{.Paper.Subject}}{{else}}{{.FilledSubject}}{{end}}">
							<i class="dropdown icon"></i>
							<div class="default text">Select subject</div>
							<div class="menu">
								<div class="item" data-value="">Select subject</div>
								{{range .Subjects}}
									<div class="item" data-value="{{.ID}}">{{.Name}}</div>
								{{end}}
							</div>
						</div>
					</div>
				</div>

				<div class="two fields">
					<div class="field" id="questions-field">
						<label>Questions paper</label>
						<input type="file" name="questions" accept=".pdf">
					</div>

					<div class="field" id="source-field">
						<label>Source booklet if applicable</label>
						<input type="file" name="source" accept=".pdf">
					</div>
				</div>

				<div class="field" id="solutions-field">
					<label>Solutions if available</label>
					<input type="file" name="solutions" accept=".pdf">
				</div>


				<div class="ui active blue progress" style="display:none;">
					<div class="bar" style="width:0%;">
						<div class="progress percentage">0%</div>
					</div>
					<div class="label">Uploading...</div>
				</div>

				<div class="ui mini error message">
					<div class="header"></div>
				</div>

				<input type="hidden" name="update" value="{{.Update}}" autocomplete="off">

				<button type="submit" class="ui large blue labeled icon button">
					<i class="upload icon"></i>
					<span class="button-text">{{if .Update}}Update{{else}}Upload{{end}}</span>
				</button>

				{{if .Update}}
				<button class="ui large red labeled icon button delete-button" type="button">
					<i class="trash icon"></i>
					<span class="button-text">Delete</span>
				</button>

				<div class="ui small modal" paper-id="{{.Paper.ID}}">
					<div class="header">Delete practice paper</div>
					<div class="content">
						<p>Are you sure you want to delete this practice paper?</p>
					</div>
					<div class="actions">
						<div class="ui ok red large button">
							<i class="trash icon"></i> Delete it
						</div>
						<div class="ui cancel green large button">
							Nevermind
						</div>
					</div>
				</div>
				{{end}}
			</form>
		</div>
	</div>
</div>

{{end}}

{{template "base" .}}
