{{define "title"}}Upload your notes{{end}}
{{define "scripts"}}
<script type="text/javascript" src="/static/upload/common.js"></script>
<script type="text/javascript" src="/static/upload/note.js"></script>
{{end}}
{{define "styles"}}
<link href="/static/upload/style.css" type="text/css" rel="stylesheet">
{{end}}

{{template "header"}}

{{define "content"}}

<div class="ui grid">
	<div class="one column row">
		<div class="column">
			<h1 class="ui header">
				<i class="upload icon"></i>
				<div class="content">
					Upload your notes
				</div>
			</h1>

			<form class="ui big form">
				{{if .Update}}
				<div class="ui mini info message">
					<div class="header">Modifying submission</div>
					You're modifying the submission of an existing upload
				</div>
				{{end}}

				<div class="ui mini info message">
					<div class="header">
						All uploads must be valid PDFs
					</div>
				</div>

				<div class="field">
					<label>Title</label>
					<input type="text" name="title" placeholder="Name this work!" value="{{.Note.Title}}" autocomplete="off">
				</div>
				<div class="two fields">
					<div class="field">
						<label>Author</label>
						<input type="text" name="author" placeholder="Credit this work if it isn't yours!" value="{{if .Update}}{{.Note.Author}}{{else}}{{.Uploader}}{{end}}">
					</div>
					<div class="field">
						<label>Subject</label>
						<div class="ui selection dropdown">
							<input type="hidden" name="subject" value="{{if .Note.Subject}}{{.Note.Subject}}{{else}}{{.FilledSubject}}{{end}}">
							<i class="dropdown icon"></i>
							<div class="default text">Select subject</div>
							<div class="menu">
								<div class="item" data-value="">Select subject</div>
								{{range .Subjects}}
									<div class="item" data-value="{{.ID}}">{{.Name}}</div>
								{{end}}
							</div>
						</div>
					</div>
				</div>
				<div class="field" id="file-field">
					<label>Choose file</label>
					<input type="file" name="file" accept=".pdf">
				</div>

				<div class="ui active blue progress" style="display:none;">
					<div class="bar" style="width:0%;">
						<div class="progress percentage">0%</div>
					</div>
					<div class="label">Uploading...</div>
				</div>

				<div class="ui mini error message">
					<div class="header"></div>
				</div>

				<input type="hidden" name="update" value="{{.Update}}" autocomplete="off">

				<button type="submit" class="ui large blue labeled icon button">
					<i class="upload icon"></i>
					<span class="button-text">{{if .Update}}Update{{else}}Upload{{end}}</span>
				</button>

				{{if .Update}}
				<button class="ui large red labeled icon button delete-button" type="button">
					<i class="trash icon"></i>
					<span class="button-text">Delete</span>
				</button>

				<div class="ui small modal" note-id="{{.Note.ID}}">
					<div class="header">Delete notes</div>
					<div class="content">
						<p>Are you sure you want to delete these notes?</p>
					</div>
					<div class="actions">
						<div class="ui ok red large button">
							<i class="trash icon"></i> Delete it
						</div>
						<div class="ui cancel green large button">
							Nevermind
						</div>
					</div>
				</div>
				{{end}}
			</form>
		</div>
	</div>
</div>

{{end}}

{{template "base" .}}
