{{define "title"}}{{.Paper.Title}}{{end}}
{{define "scripts"}}
<script type="text/javascript" src="/static/view/paper.js"></script>
{{end}}
{{define "styles"}}{{end}}

{{template "header" .}}

{{define "content"}}

<div class="ui stackable grid">
	<div class="one column row">
		<div class="column">
			<h1 class="ui header">
				<i class="file text outline icon"></i>
				<div class="content">
					{{.Paper.Year}} {{.Paper.SubjectName}} {{.Paper.Title}}
					<div class="sub header">from {{.Paper.Author}}</div>
				</div>
			</h1>

			{{if eq .UploadSuccess "success"}}
			<div class="ui success icon message">
				<i class="checkmark icon"></i>
				<div class="content">
					<div class="header">
						Your practice paper has been uploaded
					</div>
					Thanks for contributing a practice paper!
				</div>
			</div>
			{{end}}
			{{if eq .UploadSuccess "update"}}
			<div class="ui info icon message">
				<i class="checkmark icon"></i>
				<div class="content">
					<div class="header">
						Your changes have been saved
					</div>
				</div>
			</div>
			{{end}}
		</div>
	</div>

	<div class="doubling two column row">
		<div class="column">

			{{if .Paper.HasCompleted}}
				<div class="ui fluid link green card complete-card" paper-id="{{.Paper.ID}}" data-no-instant>
					<div class="ui padded grid">
						<div class="sixteen wide column">
							<h3 class="ui green header">
								<i class="green checkmark icon"></i>
								<div class="content">
									Practice paper completed
								</div>
							</h3>
						</div>
					</div>
				</div>
			{{else}}
				<div class="ui fluid link orange card complete-card" paper-id="{{.Paper.ID}}" data-no-instant>
					<div class="ui padded grid">
						<div class="sixteen wide column">
							<h3 class="ui orange header">
								<i class="orange remove icon"></i>
								<div class="content">
									Practice paper not completed
									<div class="sub header">Click here when you complete this paper.</div>
								</div>
							</h3>
						</div>
					</div>
				</div>
			{{end}}

			{{range .Files}}
				<div class="fluid ui card">
					<div class="content">
						<div class="ui grid">
							<div class="ui eleven wide column">
								<h4 class="header">{{.Name}}</h4>
							</div>
							<div class="ui five wide right aligned column">
								<div class="grey-text">{{.Size}}</div>
							</div>
						</div>
					</div>
					<div class="ui two bottom attached buttons">
						<a class="ui teal button" href="{{.URL}}" target="_blank">
							<i class="search icon"></i>
							View
						</a>
						<a class="ui teal button" href="{{.URL}}?dl=force" target="_blank">
							<i class="download icon"></i>
							Download
						</a>
					</div>
				</div>
			{{end}}

			{{if .IsUploader}}
				<a class="ui fluid link blue card" href="/upload/paper?update={{.Paper.ID}}">
					<div class="ui padded grid">
						<div class="sixteen wide column">
							<h3 class="ui blue header">
								<i class="edit icon"></i>
								<div class="content">
									Modify submission
									<div class="sub header">Change the title, or upload a new revision</div>
								</div>
							</h3>
						</div>
					</div>
				</a>
			{{end}}
		</div>

		<div class="column">
			<a class="ui fluid link card" href="/subjects/{{.Paper.Subject}}">
				<div class="ui padded grid">
					<div class="sixteen wide column">
						<h3 class="ui header">
							<i class="book icon"></i>
							<div class="content">
								{{.Paper.SubjectName}}
								<div class="sub header">Subject</div>
							</div>
						</h3>
					</div>
				</div>
			</a>

			<div class="ui fluid card">
				<div class="ui padded grid">
					<div class="sixteen wide column">
						<h3 class="ui header">
							<i class="time icon"></i>
							<div class="content">
								{{.Paper.Year}}
								<div class="sub header">Publication year</div>
							</div>
						</h3>

						<h3 class="ui header">
							<i class="write icon"></i>
							<div class="content">
								{{.Paper.Author}}
								<div class="sub header">Author</div>
							</div>
						</h3>

						<h3 class="ui header">
							<i class="upload icon"></i>
							<div class="content">
								{{.Paper.UploaderName}}
								<div class="sub header">Uploader</div>
							</div>
						</h3>

						<h3 class="ui header">
							<i class="upload icon"></i>
							<div class="content">
								{{.UploadTime}}
								<div class="sub header">Upload time</div>
							</div>
						</h3>

						<h3 class="ui header">
							<i class="edit icon"></i>
							<div class="content">
								{{.UpdatedTime}}
								<div class="sub header">Last updated</div>
							</div>
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{{end}}

{{template "base" .}}
