body > .container {
	padding-top: 40px;
	flex: 1 0 auto;
}

body {
	display: flex;
	flex-direction: column;
}

footer {
	flex: none;
	color: rgba(0,0,0,0.5);
}

footer .segment {
	padding-top: 5px !important;
}

.grey-text {
	color: rgba(0,0,0,0.6);
}

.fixed-computer-menu {
	position: fixed !important;
}

.fixed-computer-menu .beta {
	text-transform: uppercase;
	font-size: 0.6em;
	line-height: 0.6em;
	opacity: 0.5;

}

.mobile-beta {
	text-transform: uppercase;
	font-size: 0.8em;
	line-height: 0.8em;
	opacity: 0.5;

}

.mobile-search {
	width: 150px !important;
}

.left.fixed.vertical.menu {
	z-index: 200;
	transform: translateX(-100%);
	transition: transform 0.5s ease;
}

.left.fixed.vertical.menu.shown {
	transform: translateX(0);
}


/* Mobile */
@media only screen and (max-width: 767px) {
	[class*="mobile hidden"],
	[class*="tablet only"]:not(.mobile),
	[class*="computer only"]:not(.mobile),
	[class*="large screen only"]:not(.mobile),
	[class*="widescreen only"]:not(.mobile),
	[class*="or lower hidden"] {
		display: none !important;
	}

	body > .container {
	  padding-top: 60px;
	}
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	[class*="mobile only"]:not(.tablet),
	[class*="tablet hidden"],
	[class*="computer only"]:not(.tablet),
	[class*="large screen only"]:not(.tablet),
	[class*="widescreen only"]:not(.tablet),
	[class*="or lower hidden"]:not(.mobile) {
		display: none !important;
	}

	.fixed-computer-menu {
		width: 204.688px !important;
	}
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	[class*="mobile only"]:not(.computer),
	[class*="tablet only"]:not(.computer),
	[class*="computer hidden"],
	[class*="large screen only"]:not(.computer),
	[class*="widescreen only"]:not(.computer),
	[class*="or lower hidden"]:not(.tablet):not(.mobile) {
		display: none !important;
	}

	.fixed-computer-menu {
		width: 210.25px !important;
	}
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
	[class*="mobile only"]:not([class*="large screen"]),
	[class*="tablet only"]:not([class*="large screen"]),
	[class*="computer only"]:not([class*="large screen"]),
	[class*="large screen hidden"],
	[class*="widescreen only"]:not([class*="large screen"]),
	[class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
		display: none !important;
	}

	.fixed-computer-menu {
		width: 260.75px !important;
	}
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
	[class*="mobile only"]:not([class*="widescreen"]),
	[class*="tablet only"]:not([class*="widescreen"]),
	[class*="computer only"]:not([class*="widescreen"]),
	[class*="large screen only"]:not([class*="widescreen"]),
	[class*="widescreen hidden"],
	[class*="widescreen or lower hidden"] {
		display: none !important;
	}

	.fixed-computer-menu {
		width: 260.75px !important;
	}
}

#instantclick {
	display: none;
}
